body {
    margin: 0;
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    background: -webkit-linear-gradient(90deg, #696969,#1d1b1d,#8d8688);
    background: linear-gradient(90deg, #696969,#1d1b1d,#8d8688);
    color: #ffffff;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    user-select: none;
}

.container {
    display:block;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    height:78%;
    background: #1e1e1e;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: auto; /* Добавлено для вертикальной прокрутки */
    overflow-x: hidden;
}

.head h1{
    margin-top:5px;

}

h3{
    margin:0;
    padding:0;
}

.new {
    display:block;
    margin:0 auto;
    margin-bottom: 15px;
    padding:15px;
    background: #1e1e1e;
    border-radius: 40px;
    box-shadow: 0px 0px 8px red;
    justify-content: center;
    align-items: center;
}

.referals h2 {
    display:flex;
    font-size:16px;
    margin:0;
    margin-top:50px;
}


.refblock {
    display:flex;
    margin:0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:15px;
    background: #1e1e1e;
    border-radius: 40px;
    box-shadow: 0px 0px 5px red;
}

.refblock img {
    width:25px;
    height:25px;
    padding:5px;
}

.refblock h3{
    display:flex;
    margin:0;
    padding:0;
    font-size:15px;
    align-items:center;
}

.invite {
    display:flex;
    justify-content:center;
    align-items:center;
}

.inv {
    font-size: 25px;
    background-color:#0048ff;
    border: none;
    border-radius:10px;
    padding:10px;
    justify-content:center;
    align-items:center;
    animation: pulse 1.5s infinite;
}

.copy {
    display:flex;
    font-size: 25px;
    background-color:#0048ff;
    border: none;
    border-radius:10px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:15px;
    padding-right:15px;
    justify-content:center;
    align-items:center;
    margin-left:15px;

}
@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Исходный размер */
    }
    50% {
        transform: scale(1.1); /* Увеличение на 20% */
    }
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
    background: #1e1e1e;
    z-index: 10;
    text-decoration: none;
}

.nav-button {
    flex: 1;
    margin: 0 5px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0;
    background: #292929;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 0.9em;
    -webkit-tap-highlight-color: transparent; /* Убирает синий эффект на мобильных устройствах */
}

.nav-button:hover {
    background-color: #383838;
    text-decoration: none;
}

.nav-button:active {
    outline: none; /* Убираем контур */
    background-color: #535454; /* Если нужно, можно задать другой стиль при активации */
    color: #ffffff; /* Сохраняем цвет текста */
}

.nav-button:focus {
    outline: none; /* Убираем контур */
    background-color: #444444; /* Если нужно, можно задать другой стиль при активации */
    color: #ffffff; /* Сохраняем цвет текста */
}
